<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link type="text/css" href="/stylesheets/ui-lightness/jquery-ui-1.8.21.custom.css" rel="Stylesheet" />	
    
    <script src="/javascripts/common/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="/javascripts/common/jquery.tmpl.js" type="text/javascript"></script>
	<script src="/javascripts/common/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
    <script src="/javascripts/views/index.js" type="text/javascript"></script>
   </head>
  <body class="ui-widget">
    <h1 id="title"><%= title %></h1>
	<p id="sessionCounter">
		<%
			// This is just for testing sessions and EJS style of programming
			
			var count = session.count;
			if (count == null) 
				count = -1;
			
			count++;
			session.count = count;
		%>
		Session counter = <%= session.count %>
	</p>
	
	<script id="usersTrTemplate" type="text/x-jQuery-tmpl">
   		<tr>
      		<td><a>${id}</a></td>
    		<td>${name}</td>
    		<td><a>delete</a></td>
		</tr>
	</script>	

	<script id="usersTableTemplate" type="text/x-jQuery-tmpl">
		<table id="usersTable" class="ui-widget-content">
			<thead>
				<tr class="ui-widget-header">
					<th>Id</th>
					<th>Name</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</script>	

	<div id="usersContainer">
	</div>

	<p id="addUserContainer">
		<input id="addUser" type="button" value="Add user"/>
	</p>
	
	<div id="userForm">
		<p id="userFormError"></p>
		<form>
			<fieldset>
				Name: 
				<input type="text" id="userFormName" class="text ui-widget-content ui-corner-all" />
			</fieldset>
		</form>
	</div>

	<div id="deleteUserConfirm" title="Delete user">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>The user will be permanently deleted and cannot be recovered. Are you sure?</p>
	</div>	
	
  </body>
</html>
