#hTitle {
	text-align: center;
}

#pLanguageSelector {
	text-align: center;
}

#divUsers {
	text-align: center;	
}

#tblUsers {
	margin-left: auto;
	margin-right: auto;
}

#divAddUser {
	text-align: center;		
}
